@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Urbanist&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: red solid 1px;
} */

/* body {
  overflow-y: hidden;
} */

/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */

/* ::-webkit-scrollbar {
  display: none;
} */

@layer components {
  .btn-primary {
    @apply bg-[#FEEB8A] hover:bg-[rgb(255,231,109)] text-primary font-gotu font-bold transition ease-in duration-300 shadow-lg rounded-xl py-3 px-4 w-40;
  }

  .btn-secondary {
    @apply bg-primary hover:bg-secondary text-white font-gotu font-bold transition ease-in duration-300 shadow-lg rounded-xl py-3 px-4 w-40;
  }

  .btn-card {
    @apply bg-primary  hover:bg-secondary text-white font-gotu font-bold transition ease-in duration-300 shadow-lg rounded-full py-3 px-4 w-40;
  }
}
